@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.active-link {
  color: #47ccc8;
  font-weight: bold;
}

.loading-indicator:before {
  content: "";
  background: #00000080;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: " ";
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 10010;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0474bf; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@media print {
  body {
    margin: 10mm;
    font-size: 12pt;
  }

  /* Hide elements that shouldn't appear in print */
  button {
    display: none;
  }

  /* Set page size to A4 */
  @page {
    size: A4;
    margin: 5mm;
  }

  /* Ensure content fits properly */
  .max-w-4xl {
    max-width: 100% !important;
  }
}

.page-break {
  page-break-before: always;
}

.no-break {
  page-break-inside: avoid;
}

@media print {
  .hidden-on-print {
    display: none;
  }
}
