@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.active-link {
  color: #47ccc8;
  font-weight: bold;
}
